.Contact{
    margin-left: 45px;
}

.form-label,.message{
    font-size: x-large;
    margin-right: 10px;
}

.form-row input,textarea{
    margin-bottom: 20px;
    padding: 10px 50px;
    border-radius: 40px;
    border: transparent;
}