#Description{
    margin-top: 50px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: 800px 1fr;
}

#Description h1{
    display: flex;
    flex-direction: column;
    font-size: 60px;
    margin: 0;
}

#Description span{
    color: #50CBB3;
    font-size: larger;
}

#Description p{
    font-size: large;
    width: 600px;
}

.main-h1{
    display: flex;
    flex-direction: row;
}

.main-h1 :nth-child(1){
    margin-right: 18px;
}

.mov-text{
    position: relative;
    bottom: 8px;
    left: 10px;
}

.profile_img img{
    width: 400px;
}

@media screen and (max-width:1200px) {
    #Description{
        grid-template-columns: 650px 1fr;
    }

    .profile_img img{
        width: 250px;
    }

    #Description h1{
        font-size: 40px;
    }
}

@media screen and (max-width:1000px) {
    #Description{
        grid-template-columns: 550px 1fr;
    }

    #Description p{
        font-size: 20px;
        width:450px;
    }

    .profile_img img{
        width: 200px;
    }

    #Description h1{
        font-size: 40px;
    }
}


@media screen and (max-width:800px) {
    #Description h1{
        font-size: 35px;
    }

    #Description p{
        font-size: 15px;
        width:400px;
    }

    #Description{
        grid-template-columns: 500px 1fr;
    }

    #Description h1{
        font-size: 40px;
    }

    .profile_img img{
        width: 200px;
    }
}

@media screen and (max-width:700px) {
    #Description h1{
        font-size: 35px;
    }

    #Description :nth-child(1){
        grid-row: 2;
    }

    #Description{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    #Description p{
        font-size: 15px;
        width:300px;
    }
}

@media screen and (max-width:500px) {
    #Description{
        margin-left: 20px;
        margin-top:30px ;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    #Description :nth-child(1){
        grid-row: 2;
    }

    #Description h1{
        font-size: 25px;
    }

    #Description div :nth-child(1){
        margin-right: 8px;
    }

    #Description p{
        font-size: medium;
        width:330px
    }

    .mov-text{
        margin-top: 5px;
    }
}