.Loader img{
  animation: A_logo 3s linear infinite;
  width:200px;
  height: 200px;
  text-align: center;
}

.Loader{
  background-color: #0a192f;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

@keyframes A_logo {
    from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}