.projects{
    border-radius: 20px;
    cursor: pointer;
    margin-left: 100px;
    margin-right: 100px;
}

.width{
    width: 100%;
}

.project1{
    flex-basis: 50%;
}

.project_body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.project_image{
    flex-basis: 50%;
}

.project_image img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.projecttitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ccd6f6;
    font-size: 30px;
    font-weight: bold;
    margin:10px;
    padding-bottom: 10px;
    border-bottom: #ccd6f6;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.hideDes{
    display: none;
    visibility: hidden;
}

.showDes{
    display:flex;
    visibility: visible;
}

.projectList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0px 10px;
}

.projectStack{
    color: #ccd6f6;
    margin: 20px;
    margin-left: 15px;
    font-size: larger;
}

.projectList li{
    list-style-type: none;
    color: #ccd6f6;
    font-size: small;
}

.each_skill2{
    list-style: none;
    margin-right: 10px;
    text-align: center;
    color: #ccd6f6;
    padding:5px;
    width: 100px;
    height: auto;
}

.projectDes{
    color: #ccd6f6;
    font-size: 20px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    background-color: #112240;
}

@media screen and (max-width: 768px) {
    .projects{
        width: 80vw;
    }
    .project_image{
        width: 100%;
    }
    .projecttitle{
        font-size: 20px;
    }
    .projectStack{
        font-size: small;
        margin: 10px;
    }
    .each_skill2{
        width: 80px;
        font-size: 20px;
    }
    .projectDes{
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .projectList li{
        font-size: small;
    }
}