.projectList{
    display: flex;
    list-style: none;
}

.projectList li{
    margin-right: 20px;
    color: #50CBB3;
}

.projects{
    margin-left: 50px;
    width: 80vw;
}

.projecttitle{
    font-size: x-large;
    color: #50CBB3;
}

.projecttitle span{
    margin-left: 10px;
}

.projecttitle span i{
    font-size: large;
}

.project_image img{
    width: 300px;
}

.project_image a:hover{
    z-index: 100;
    opacity: 50%;
    text-decoration: none;
}