.each_skill{
    list-style: none;
    margin-right: 10px;
    text-align: center;
    border-radius: 30px;
    color: white;
}

.skills_list{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    margin-left: 45px;
    width: 80vw;
}

.skills_list li{
    padding: 10px 20px;
    font-weight: 500;
    border: 2px solid aliceblue;
    margin: 5px;
}

@media screen and (max-width:800px) {
    .skills_list{
        grid-template-columns: repeat(6,1fr);
    }

    .skills_list li{
        font-weight: 400;
        padding: 8px 16px;
    }
}

@media screen and (max-width:500px) {
    .skills_list{
        grid-template-columns: repeat(4,1fr);
        margin-left: 20px;
    }

    .skills_list li{
        font-size: small;
        border: 1.5px solid aliceblue;
        font-weight: 300;
        padding: 4px 8px;
    }
}