html{
    max-width: 100%;
    overflow-x:hidden;
}    

body{
    background-color: #0A192F;
    color: #CCD6F6;
    font-style: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

.header{
    background-color: #0A192F;
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 4px 4px -4px rgba(98, 91, 91, 0.76);
}

.AJN img{
    width: 30px;
    height: auto;
}

.AJN{
    display: grid;
    grid-template-columns: 50px 1fr ;
    align-items: center;
}

.AJN span{
    font-size: larger;
    font-weight: 600;
    width:200px;
}

.navlist a{
    margin-right: 50px;
    font-size: larger;

}

.navlist a:hover{
    color: #50CBB3;
    border-bottom: #50CBB3 2px solid;
}

.navlist{
    margin: 10px 40px;
}

.navResume{
    margin-right: 40px;
    margin-top: 10px;
}

.navlist a,.navResume a{
    text-decoration: none;
    color: #CCD6F6;
}

.navResume a{
    color: #50CBB3;
    border-radius: 20px;
    padding: 8px 16px;
    border: 1px solid #50CBB3;
}

.navResume a:hover{
    background-color: #1e3251;
}

.navResume a{
    position: absolute;
    left:90vw;
}

.navlist{
    display: flex;
    flex-direction: row;
    align-items: center;
}

a.AJN:hover{
    border: transparent;
}

.navbar-toggle{
    visibility: hidden;
    display: none;
}

@media screen and (max-width: 900px) {
    .navlist a{
        margin-right: 25px;
        font-size: large;
    }

    .AJN span{
        font-size: large;
        width: 170px;
    }


}

@media screen and (max-width: 768px){
    .navbar-toggle{
        visibility: visible;
        display: block;
        position: absolute;
        top:15px;
        right: 7vw;
        background-color: #50CBB3;
        color: #0A192F;
        border: transparent;
        border-radius: 5px;
    }

    .navbar{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .navbar-padding{
        padding-bottom: 20px;
    }

    .AJN{
        grid-template-columns: 35px 1fr;
        position:relative;
        right: 25vw;
    }

    .AJN span{
        font-size: large;
        width: 140px;
    }

    .AJN img{
        width: 30px;
    }

    .navlist{
        flex-direction: column;
        margin: 10px 0;
    }
    .navlist a{
        margin: 5px 0;
    }
    .navResume a{
        position: relative;
        left: 0;
        padding: 5px 10px;
        font-size: medium;
    }

    .navResume{
        margin-right: 0px;
    }

    .mainnav{
        display: flex;
        flex-direction: column;
    }

    .mainnav a{
        border-bottom: 1px solid rgba(98, 91, 91, 0.76);
        padding-bottom: 5px;
        font-size: medium;
    }

    .closeNav{
        display: none;
        visibility: hidden;
    }
}
    
@media screen and (max-width:500px) {
    html{
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        zoom: 1;
      }
}   
    