.projects{
    border-radius: 20px;
    cursor: pointer;
    margin-left: 40px;
    margin-right: 40px;
}

.width{
    width: 100%;
}

.project1{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project_body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 10px;
}


.project_image{
    flex-basis: 60%;
    z-index:1;
}

.project_image img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.projecttitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ccd6f6;
    font-size: 30px;
    font-weight: bold;
    margin:10px;
    padding-bottom: 10px;
    border-bottom: #ccd6f6;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.hideDes{
    display: none;
    visibility: hidden;
}

.showDes{
    display:flex;
    visibility: visible;
}

.projectList{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projectTech{
    position: relative;
    left: 30px;
    z-index: 3;
}

.projectLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    color:#ccd6f6;
}

.projectStack{
    color: #ccd6f6;
    margin: 20px;
    margin-left: 15px;
    font-size: larger;
}

.projectList li{
    list-style-type: none;
    list-style: none;
    color: #ccd6f6;
    font-size: 18px;
}

.projectLinks{
    text-align: left;
}

.projectLinks a{
    color: #ccd6f6;
    font-size: x-large;
}

.each_skill2{
    list-style: none;
    text-align: center;
    color: #ccd6f6;
    height: auto;
    margin-left: 20px;
}

.projectDes{
    color: #ccd6f6;
    font-size: medium;
    text-align: left;
    background-color: #112240;
    flex-basis: 60%;
    position: relative;
    left: 30px;
    z-index: 2;
    padding:25px;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
}

@media screen and (max-width: 768px) {
     /* make it responsive image on top and text below and center after that skills then link */
    .project_body{
        flex-direction: column-reverse;
        align-items: center;
        justify-items: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .projectDes{
        flex-basis: 100%;
        position: relative;
        left: 0px;
        z-index: 2;
        padding:25px;
        border-radius: 4px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        box-shadow: none;
    }

    .projectTech{
        position: relative;
        left: 0px;
        z-index: 3;
    }

    .projectList{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .project1{
        background-color: #112240;
        border-radius: 4px;
        margin-top: 15px;
    }

}